---
import logo from "../assets/logo.png";

const description = "Modern desktop app to browse and manage Deno KV databases";
const title = "Deno KV GUI Client";
const url = "https://abdulrhmangoni.github.io/denokv-gui-client/";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={logo.src} />
    <meta property="og:url" content={url} />
    <link rel="canonical" href={url} />
    <link rel="icon" type="image/png" href="/denokv-gui-client/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title} | Desktop app to browse & manage Deno KV Databases
    </title>
    <meta name="description" content={description} />
  </head>
  <body>
    <slot />
  </body>
</html>
